{{ $vocabularies := where .Site.RegularPages "Section" "tu-khainiem" }}

<div id="table-container">
  <table>
    <thead>
      <tr>
        <th>Từ vựng</th>
        <th>Khái niệm</th>
      </tr>
    </thead>
    <tbody>
      {{ range $vocabularies }}
      <tr>
        <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
        <td>{{ .Content | plainify | truncate 10 }}...</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<style>
#table-container table {
  width: 100%;
  border-collapse: collapse;
}

#table-container th,
#table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
}
</style>
